<ion-content color="primary">
  <ion-card
    class="card"
    color="dark"
  >
    <img alt="União Flasco" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1DmNe-EKS17OH4z_T4iFJzhgKLXJTZvTBhj3ELnvORQ&s" />

    <div>
      <ion-card-header>
        <ion-card-title class="title">
          União Flasco
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="conteudo">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, similique minima? Exercitationem pariatur sunt quia explicabo dolorem veritatis beatae laboriosam, fugit molestias quibusdam placeat nobis illum natus! Temporibus, distinctio nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis corrupti totam expedita maxime consequatur neque, suscipit magni, nihil ipsam vero vitae aspernatur. Praesentium molestias aliquid sed odio ea soluta consequatur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis corrupti totam expedita maxime consequatur neque, suscipit magni, nihil ipsam vero vitae aspernatur. Praesentium molestias aliquid sed odio ea soluta consequatur.
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>