.header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;

  .icon{
    font-size: 40px;
    margin-right: 5px;
  }
}

.conteudo{
  color: white;
  font-size: 30px;
}

.selected{
  color: white;
}

ion-tab-button{
  font-size: 14px;
  font-weight: bolder;
  color: #27004A;
}