.content{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  .card{
    position: relative;
    max-width: 155px;

    .title{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      font-size: 20px;
      
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}