<ion-content color="primary">
  <ion-text>
    <h2>Filmes de ação</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of actionMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de aventura</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of adventureMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de animação</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of animationMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de comédia</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of comedyMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de crime</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of crimeMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>


  <ion-text>
    <h2>Filmes de drama</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of dramaMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de família</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of familyMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de fantasia</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of fantasyMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de história</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of historyMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de horror</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of horrorMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de música</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of musicMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de mistério</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of mysteryMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de romance</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of romanceMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de ficção científica</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of scienceFictionMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de suspense</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of thrillerMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>

  <ion-text>
    <h2>Filmes de guerra</h2>
  </ion-text>

  <swiper-container [modules]="swiperModules" [slidesPerView]="2.5" [spaceBetween]="13">
    <swiper-slide *ngFor="let item of warMovies">
      <img src="{{'https://image.tmdb.org/t/p/w185' + item.poster_path }}" />
    </swiper-slide>
  </swiper-container>
</ion-content>
